<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: head"></head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container my-4">
    <h1 th:text="#{exercises.title}">Exercises</h1>
    <form class="row g-3 my-3">
        <div class="col-auto">
            <input type="text" name="nameFilter" class="form-control" placeholder="Name filter" th:value="${nameFilter}"/>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary" type="submit" th:text="#{button.filter}">Filter</button>
        </div>
    </form>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        <div class="col" th:each="ex : ${exercises}">
            <div class="card h-100">
                <img th:src="@{/images/{file}(file=${ex.imageFileName})}" class="card-img-top" alt="Exercise Image"/>
                <div class="card-body">
                    <h5 class="card-title">
                        <a th:href="@{/exercises/details/{id}(id=${ex.id})}" th:text="${ex.name}">Exercise Name</a>
                    </h5>
                    <p class="card-text">
                        <span th:text="#{exercise.averageBurn}">Average Burn</span>: <span th:text="${ex.averageBurn}"></span>
                    </p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a th:href="@{/exercises/details/{id}(id=${ex.id})}" class="btn btn-sm btn-outline-primary" th:text="#{button.details}">Details</a>
                    <form method="post" th:action="@{/exercises/delete/{id}(id=${ex.id})}">
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
